html,
body {
  margin: 0;
  font-family: "DynaPuff", system-ui;
}

body {
  margin: auto;
}

.logo {
  width: 80px;
}

.header {
  background-color: tomato;
  padding: 1rem;
}

h3 {
  text-align: center;
}

.header-img-container {
  max-width: 600px;
  display: flex;
  justify-content: center;
  margin: auto;
  gap: 2rem;
}

.emotion-container {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: 0px auto;
}

.emotion-radios {
  border: 1px solid black;
  border-radius: 8px;
}

.radio {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #bcbcbc;
  padding: 4px 8px;
}

.radio:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.radio:last-child {
  border-bottom: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.gif-check {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px;
}

.no-gifs {
  display: none;
}

label {
  font-size: 14px;
  padding: 3px;
  width: 100%;
  cursor: pointer;
}

input[type="radio"] {
  cursor: pointer;
}
.highlight {
  background-color: #fff0ee;
  color: #bd301d;
  font-weight: bold;
  accent-color: #bd301d;
}

.meme-modal {
  display: none; /*flex when displayed*/
  position: fixed;
  margin: auto;
  top: 50px;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  border: 1px solid #67595e;
  border-radius: 5px;
  width: 600px;
  height: 700px;
  background-color: #fff0ee;
}

.img {
  max-width: 420px;
  max-height: 540px;
  border-radius: 5px;
}

.meme-modal-close-btn {
  position: absolute;
  top: 2%;
  right: 2%;
  background-color: transparent;
  border: 2px solid #555;
  color: #555;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 14px;
}

.meme-modal-close-btn:hover {
  color: white;
  background-color: #bd301d;
  border: 2px solid #bd301d;
}

.get-image-btn {
  font-family: "DynaPuff", system-ui;
  background-color: tomato;
  color: black;
  padding: 15px 19px;
  font-size: 24px;
  border: none;
  border-radius: 5px;
  margin-bottom: 8px;
  cursor: pointer;
}

@media (width < 600px) {
  .meme-modal {
    display: none;
    position: fixed;
    margin: auto;
    width: 90%;
  }

  .img {
    max-width: 350px;
    max-height: 450px;
  }
}
